.mb-4 {
  margin-bottom: 1rem;
}
.genre-container {
  max-height: 200px; /* Set the desired maximum height */
  overflow-y: auto; /* Enable vertical scrolling if necessary */
}

.genre-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
